DISCORD_TOKEN={DISCORD_TOKEN}

# Database settings
DB_USER={USER}
DB_PASSWORD={PASSWORD}
DB_NAME={DATABASE_NAME}
# Database connection string (when using docker compose disable it)
DATABASE_URL={DATABASE_URL}

# Debug levels are ERROR, WARN, INFO, DEBUG, TRACE
# to disable application filter, remove "bostil_bot"
RUST_LOG="bostil_bot=DEBUG"
